@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Satisfy&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%;
}

:root {
    --main: #4ea2e3;
    --main-hover: #1c6faf;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8rem;
    background-color: #fff;
}

.logo {
    font-size: 1.3rem;
    color: var(--main);
    font-weight: 600;
    margin-left: 2rem;
    cursor: pointer;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 2rem;
}

nav ul li a {
    color: var(--main);
    transition: all .5s ease;
    font-size: 1.8rem;
    padding: 1rem 1.2rem;
    position: relative;
}

nav ul li a::after {
    position: absolute;
    width: 100%;
    height: 0%;
    background-color: var(--main);
    content: '';
    left: 0;
    bottom: 10px;
    opacity: .4;
    transition: all .4s ease;
}

nav ul li a:hover::after {
    height: 30%;
}

nav ul li a:hover {
    color: var(--main-hover);
}

nav ul li {
    margin: 0 1rem;
}

.close-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 5rem;
    height: 5rem;
    border: 1px solid #000;
    cursor: pointer;
    display: none;
}

.close-bar-bar {
    width: 30px;
    height: 2px;
    background-color: #000;
    position: absolute;
}

.close-bar-bar:nth-child(1) {
    transform: rotate(135deg);
}

.close-bar-bar:nth-child(2) {
    transform: rotate(-135deg);
}
.hamburger{
    width: 6rem;
    height: 6rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 2rem;
    display: none;
}
.hambar{
    position: absolute;
    width: 31px;
    height: 2px;
    border-radius: 3rem;
    background-color: #000;
    transition: all .4s ease;
}
.hambar:nth-child(1){
    top: 18px;
}
.hambar:nth-child(3){
    bottom: 18px;
}
/* Hero */
#hero{
    display: grid;
    grid-template-rows:60vh ;
    grid-template-columns:1fr 2fr ;
    grid-template-areas:
    "hero-text  hero-img";
    gap: 10px;
}
.hero-text{
    grid-area: hero-text;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    pad: 1.5rem;
    background-color: #cbe6ea;
}
.hero-text h1{
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 3rem;
}
.underline{
    position: relative;
}
.underline::after{
    position: absolute;
    content: '';
    width: 30%;
    transform: translateX(80px);
    height: 2px;
    background-color: gray;
    left: 0;
    bottom: -20px;
}
.hero-text p{
    font-size: 1.4rem;
}
.hero-a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-a a{
    margin: 1rem 1rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-a a i{
    padding-right: 5px;
}
.btn{
    padding: 1.2rem 2rem;
    color: var(--main-hover);
    border: 2px solid var(--main-hover);
    transition: all .4s ease;
}
.btn:hover{
    border: 2px solid var(--main);
    background-color: var(--main);
    color: #fff;
    transform: translateX(10px);
}
.hero-img{
    grid-area: hero-img;
}
.hero-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* AboutMe */
#aboutme{
    background-image: url(https://mobirise.com/website-templates/cv-website-template/assets/images/aboutme-1-2000x1333.jpg);
    background-position: center;
    background-size: cover;
    padding: 8rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 1rem;
}
.aboutme{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 500px;
}
.aboutme h1{
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 3rem;
}
.aboutme .underline::after{
    width: 40%;
    transform: translateX(45px);
    background-color: #000;
}
.aboutme ul li{
    font-size: 1.4rem;
    margin: 1rem 0;
}
.aboutme p{
    font-size: 1.4rem;
    line-height: 2.5rem;
}
.aboutme ul{
   list-style: none;
   margin-top: 2rem;
}
/* CV Text */
#cvtext{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 9rem 0;
    background-color: #cbe6ea;
    margin: 0 1rem;
    margin-bottom: 1rem;
}
#cvtext h1{
    font-size: 3rem;
    text-align: center;
    font-weight: 500;
}
#cvtext .underline::after{
    transform: translateX(110px);
}
@media screen and (max-width:1170px) {

    #hero{
        grid-template-columns: 1fr 1.5fr;
    }
}

@media screen and (max-width:980px){
    #hero{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 2rem 10rem;
        grid-template-areas: 
        "hero-img "
         "hero-text";
    }
}
@media screen and (max-width:940px) {
    nav ul {
        flex-direction: column;
        position: fixed;
        width: 50vw;
        right: -100%;
        top: 0;
        margin: 0;
        height: 100%;
        padding: 5rem 0;
        align-items: center;
        justify-content: flex-start;
        background-color: #fff;
        transition: all .5s ease;
        opacity: 0;
        z-index: 100;
    }
    nav.active ul{
        right: 0;
        opacity: 1;
    }
    nav ul .close-bar{
        align-self: flex-start;
        margin-left: 3rem;
    }
    .close-bar{
        display: inherit;
    }
    nav ul li{
        margin: 2rem 0;
    }
    .hamburger{
        display: inherit;
    }
    
}
@media screen and (max-width:670px){
    #hero{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 2rem 5rem;
    }
    .aboutme{
        width: auto;
        margin: 0 1.5rem;
    }
}
@media screen and (max-width:510px){
    #hero{
        padding: 2rem 2rem;
        grid-template-rows: 60vh fit-content;
        grid-template-columns: fit-content;
    }
    .hero-a{
        flex-direction: column;
        padding: 10px;
    }
    .hero-text{
        padding: 3rem 1rem;
    }
}
@media screen and (max-width:310px){
    #hero{
        gap: 2rem;
        padding: 2rem 1rem;
    }
    .hero-text h1 {
        font-size: 2rem;
    }
}