@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Satisfy&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%;
}

:root {
    --main: #4ea2e3;
    --main-hover: #1c6faf;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8rem;
    background-color: #fff;
}

.logo {
    font-size: 1.3rem;
    color: var(--main);
    font-weight: 600;
    margin-left: 2rem;
    cursor: pointer;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 2rem;
}

nav ul li a {
    color: var(--main);
    transition: all .5s ease;
    font-size: 1.8rem;
    padding: 1rem 1.2rem;
    position: relative;
}

nav ul li a::after {
    position: absolute;
    width: 100%;
    height: 0%;
    background-color: var(--main);
    content: '';
    left: 0;
    bottom: 10px;
    opacity: .4;
    transition: all .4s ease;
}

nav ul li a:hover::after {
    height: 30%;
}

nav ul li a:hover {
    color: var(--main-hover);
}

nav ul li {
    margin: 0 1rem;
}

.close-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 5rem;
    height: 5rem;
    border: 1px solid #000;
    cursor: pointer;
    display: none;
}

.close-bar-bar {
    width: 30px;
    height: 2px;
    background-color: #000;
    position: absolute;
}

.close-bar-bar:nth-child(1) {
    transform: rotate(135deg);
}

.close-bar-bar:nth-child(2) {
    transform: rotate(-135deg);
}
.hamburger{
    width: 6rem;
    height: 6rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 2rem;
    display: none;
}
.hambar{
    position: absolute;
    width: 31px;
    height: 2px;
    border-radius: 3rem;
    background-color: #000;
    transition: all .4s ease;
}
.hambar:nth-child(1){
    top: 18px;
}
.hambar:nth-child(3){
    bottom: 18px;
}
/* Hero */
#hero{
    display: grid;
    grid-template-rows:60vh ;
    grid-template-columns:1fr 2fr ;
    grid-template-areas:
    "hero-text  hero-img";
    gap: 10px;
}
.hero-text{
    grid-area: hero-text;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    pad: 1.5rem;
    background-color: #cbe6ea;
}
.hero-text h1{
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 3rem;
}
.underline{
    position: relative;
}
.underline::after{
    position: absolute;
    content: '';
    width: 30%;
    transform: translateX(80px);
    height: 2px;
    background-color: gray;
    left: 0;
    bottom: -20px;
}
.hero-text p{
    font-size: 1.4rem;
}
.hero-a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-a a{
    margin: 1rem 1rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-a a i{
    padding-right: 5px;
}
.btn{
    padding: 1.2rem 2rem;
    color: var(--main-hover);
    border: 2px solid var(--main-hover);
    transition: all .4s ease;
}
.btn:hover{
    border: 2px solid var(--main);
    background-color: var(--main);
    color: #fff;
    transform: translateX(10px);
}
.hero-img{
    grid-area: hero-img;
}
.hero-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* AboutMe */
#aboutme{
    background-image: url(https://mobirise.com/website-templates/cv-website-template/assets/images/aboutme-1-2000x1333.jpg);
    background-position: center;
    background-size: cover;
    padding: 8rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 1rem;
}
.aboutme{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 500px;
}
.aboutme h1{
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 3rem;
}
.aboutme .underline::after{
    width: 40%;
    transform: translateX(45px);
    background-color: #000;
}
.aboutme ul li{
    font-size: 1.4rem;
    margin: 1rem 0;
}
.aboutme p{
    font-size: 1.4rem;
    line-height: 2.5rem;
}
.aboutme ul{
   list-style: none;
   margin-top: 2rem;
}
/* CV Text */
#cvtext{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 6rem 0;
    background-color: #cbe6ea;
    margin: 0 1rem;
    margin-bottom: 1rem;
}
#cvtext h1{
    font-size: 3rem;
    text-align: center;
    font-weight: 500;
}
#cvtext .underline::after{
    transform: translateX(110px);
}
/* Editex */
#editex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.editex-left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #cbe6ea;
    padding: 4rem 1rem;
    width: 50%;
    margin: 0 .5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.editex-left ul{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.editex-left li, .editex-right li{
    line-height: 2.5rem;
}
.editex-left b, .editex-right b{
    font-weight: 600;
}
.editex-left i, .editex-right i{
    font-size: 4rem;
    padding: 2rem;}
.editex-right ul{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.editex-left h1 , .editex-right h1{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}
.editex-left ul, .editex-right ul{
    font-size: 1.3rem;
    margin: 1.5rem 0;
    list-style: none;
}
.editex-right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #cbe6ea;
    padding: 4rem 1rem;
    width: 50%;
    margin: 0 .5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

/* Pricing */
#pricing{
    background-color: #cbe6ea;
    padding: 5rem 0;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.pricing-head-text{
    margin: 3rem 0;
}
.pricing-head-text h1{
    font-size: 4rem;
    font-weight: 400;
}
.pricing-head-text .underline::after{
    transform: translateX(45px);
    background-color: rgb(39, 39, 39);
    width: 40%;
}
.pricing{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 3rem;
}
.pricing-box{
    width: 200px;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    margin: 0 4.5rem;
    height: 280px;
    position: relative;
}
.pricing-box i{
    font-size: 2.4rem;
    padding: 1rem;
}
.pricing-box h1{
    font-size: 2rem;
    font-weight: 500;
}
.pricing-box p{
    font-size: 1.4rem;
    margin: 1rem 0;
    line-height: 2.2rem;
}
.pricing-box a{
    font-size: 1.6rem;
    padding: 1rem 2.5rem 1rem 2rem;
    position: absolute;
    bottom: 10px;
}
.pricing-box a i{
    padding: .5rem;
    font-size: 1.7rem;
}
/* Services */
#services{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.services-head{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
    background-color: #cbe6ea;
    width: 98.5%;
    margin: 1.5rem 0rem;
}
.services-head h1{
    font-size: 4rem;
    font-weight: 400;
}
.services-head .underline::after{
    transform: translateX(85px);
}
.services{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-basis: 25%;
}
.services-box{
    background-color: #cbe6ea;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem;
    text-align: center;
    margin: 0 .6rem;
    height: 320px;
    margin-bottom: 1rem;
}
.services-box i{
    font-size: 3rem;
    margin: 1rem;
}
.services-box h1{
    font-size: 2.2rem;
    font-weight: 400;
    margin: 1rem;
}
.services-box p{
    font-size: 1.3rem;
    line-height: 2.5rem;
}
/* Works */
#works{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.works-head{
    background-color: #cbe6ea;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: .5rem;
    padding: 4rem 0;
    width: 99%;
}
.works-head h1{
    font-size: 4rem;
    font-weight: 400;
}
.works-head .underline::after{
    transform: translateX(100px);
}
.works{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.work-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    height: auto;
    margin: .5rem;
}
.work-box-img{
    width: 100%;
    height: 215px;
}
.work-box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.work-box-text{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #cbe6ea;
    padding: 0 1.5rem;
    width: 100%;
    height: 180px;
}
.work-box-text h1{
    font-size: 2.5rem;
    font-weight: 400;
}
/* Contact Us */
#contactmap{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding: .5rem 1rem;
}
.contact-map{
    width: 50%;
    height: 100%;
    margin-right: .5rem;
}
.contact-map iframe{
    width: 100%;
    height: 100%;
}
.contact-form{
    width: 50%;
    height: 100%;
    background-color: #cbe6ea;
    display: flex;
    padding: 3rem 0;
    align-items: center;
    justify-content: center;
    margin-left: .5rem;
}
.contact-form form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    width: 450px;
}
.contact-form form .underline{
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 4rem;
}
.contact-form form .underline::after{

    transform: translateX(75px);
}
.contact-form form input , .contact-form form textarea{
    width: 100%;
    margin-top: 1rem;
    padding: 0 1rem;
    border: none;
    outline: none;
    padding: 1rem 1rem;
}
.contact-form form input{
    height: 40px;
}
.contact-form form textarea{
    height: 200px;
}
.contact-form form a{
    margin-top: 2rem;
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
}
/* Footer */
#footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    background-color: #cbe6ea;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3rem 0;
    flex-wrap: wrap;
}
.footer-adress{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.footer-adress h1{
    font-weight: 600;
}
.footer-adress p{
    font-weight: 400;
    font-size: 1.3em;
}
.footer-contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.footer-contact-box{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 2rem;
}
.footer-contact-box:first-child i{
    background-color: #000;
    color: #cbe6ea;
    border-radius: 6px;
    padding: .6rem;
    font-size: 1.7rem;
}
.footer-contact-box i{
    font-size: 3.1rem;
    margin: 1rem;
}
.footer-contact-box p{
    font-size: 1.4rem;
}
@media screen and (max-width:1170px) {

    #hero{
        grid-template-columns: 1fr 1.5fr;
    }
}

@media screen and (max-width:980px){
    #hero{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 2rem 10rem;
        grid-template-areas: 
        "hero-img "
         "hero-text";
    }
    .contact-form form {
        width: 300px;
    }
}
@media screen and (max-width:940px) {
    nav ul {
        flex-direction: column;
        position: fixed;
        width: 50vw;
        right: -100%;
        top: 0;
        margin: 0;
        height: 100%;
        padding: 5rem 0;
        align-items: center;
        justify-content: flex-start;
        background-color: #fff;
        transition: all .5s ease;
        opacity: 0;
        z-index: 100;
    }
    nav.active ul{
        right: 0;
        opacity: 1;
    }
    nav ul .close-bar{
        align-self: flex-start;
        margin-left: 3rem;
    }
    .close-bar{
        display: inherit;
    }
    nav ul li{
        margin: 2rem 0;
    }
    .hamburger{
        display: inherit;
    }
    #editex{
        flex-direction: column;
        padding: 0 1rem;
    }
    .editex-left , .editex-right{
        width: 100%;
        padding: 4rem 2rem;
        margin: 1rem 0;
    }
    .pricing-box{
        margin: 0 2rem;
    }
    .services {
        flex-basis: auto;
        flex-wrap: wrap;
    }
    .services-box{
        width: 48%;
        margin-bottom: 1.4rem;
    }
    .works{
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 800px;
    }
    .work-box{
        width: 48%;
    }
    #contactmap{
        flex-direction: column;
        height: auto;
    }
    .contact-map {
        width: 90%;
        height: 400px;
        margin-right: 0;
    }
    .contact-form {
        width: 90%;
        height: 100%;
        margin-top: 1rem;
    }
    .contact-form form {
        width: 423px;
    }
}
@media screen and (max-width:850px){
    .works{
        width: 700px;
    }

}
@media screen and (max-width:760px){
    .pricing{
        flex-direction: column;
        align-items: center;
    }
    #pricing{
        background-color: #fff;
        padding: 1rem 0;
        margin: 0;
    }
    .pricing{
        width: 100%;
        margin-top: 0rem;
    }
    .pricing-head-text{
        width: 95%;
        background-color: #cbe6ea;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;
        margin: 0;
    }
    .pricing-box{
        background-color: #cbe6ea;
        margin: 0;

        margin-top: 1.5rem;
        width: 95%;
        padding: 4rem 0;
        height: auto;
        position: static;
    }
    .pricing-box a{
        position: static;
        margin-top: 2rem;
    }
    .works{
        width: 650px;
    }

}
@media screen and (max-width:670px){
    #hero{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 2rem 5rem;
    }
    .aboutme{
        width: auto;
        margin: 0 1.5rem;
    }
    .services-head {
        width: 95%;
        text-align: center;
    }
    .services-box {
        width: 95%;
    }
    .work-box{
        width: 100%;
    }
    .works {
        width: 411px;
    }
}
@media screen and (max-width:420px){
    .works {
        width: 100%;
    }
    .work-box{
        margin: 1rem;
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
    .contact-map {
        width: 98%;
    }
    .contact-form {
        width: 98%;
        text-align: center;
    }
    #contactmap {
        padding: .5rem 1rem;
    }
}
@media screen and (max-width:510px){
    #hero{
        padding: 2rem 2rem;
        grid-template-rows: 60vh fit-content;
        grid-template-columns: fit-content;
    }
    .hero-a{
        flex-direction: column;
        padding: 10px;
    }
    .hero-text{
        padding: 3rem 1rem;
    }
    #cvtext h1 {
        font-size: 2.3rem;
        padding: 0 1rem;
    }
    #cvtext .underline::after{
        transform: translateX(95px);
    }
    .footer-adress {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}
@media screen and (max-width:310px){
    #hero{
        gap: 2rem;
        padding: 2rem 1rem;
    }
    .hero-text h1 {
        font-size: 2rem;
    }
    .footer{
        flex-direction: column;
    }
    .footer-contact {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 2rem;
    }
}